In [9]:
import pandas as pd

In [10]:
data1 = pd.read_excel(r'PatientData_Programming Assignment.xlsx',sheet_name = 'Sheet1')
data2 = pd.read_excel(r'PatientData_Programming Assignment.xlsx',sheet_name = 'Sheet2')

In [11]:
data =  data1.merge(data2, how='inner', on='Patient_ID', left_index=True, right_index=True, copy=True)
data.head()

,Patient_ID,drug_390_admin_flag,ER_positive,PR_positive,HER2_positive,Drug_admin_date,Length,Field Name,Description
0,2038,1,1,1,0,2012-01-02,3,Patient_ID,Patient ID
1,2120,0,1,0,1,2012-02-13,3,Drug_admin_date,Date of drug administration
2,2175,0,0,0,0,2012-02-27,3,NaN,NaN
3,2407,0,0,1,0,2005-02-05,3,NaN,NaN
4,2425,1,0,0,0,2009-03-31,3,NaN,NaN

In [12]:
data['HR'] = 0
for i in range(data.shape[0]):
    if (data.PR_positive.loc[i] == 1) or (data.ER_positive.loc[i] == 1):
        data['HR'][i] = 1
        
data.head()

<ipython-input-12-fd131120bdd6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['HR'][i] = 1

,Patient_ID,drug_390_admin_flag,ER_positive,PR_positive,HER2_positive,Drug_admin_date,Length,Field Name,Description,HR
0,2038,1,1,1,0,2012-01-02,3,Patient_ID,Patient ID,1
1,2120,0,1,0,1,2012-02-13,3,Drug_admin_date,Date of drug administration,1
2,2175,0,0,0,0,2012-02-27,3,NaN,NaN,0
3,2407,0,0,1,0,2005-02-05,3,NaN,NaN,1
4,2425,1,0,0,0,2009-03-31,3,NaN,NaN,0

In [13]:
data['HR'] = 0
data['HER2(+)_HR(+)'] = 0
data['HER2(+)_HR(-)'] = 0
data['HER2(-)_HR(+)'] = 0
data['HER2(-)_HR(-)'] = 0
for i in range(data.shape[0]):
    if (data.HER2_positive.loc[i] == 1) and (data.HR.loc[i] == 1):
        data['HER2(+)_HR(+)'][i] = 1
    elif (data.HER2_positive.loc[i] == 1) and (data.HR.loc[i] == 0):
        data['HER2(+)_HR(-)'][i] = 1
    elif (data.HER2_positive.loc[i] == 0) and (data.HR.loc[i] == 1):
        data['HER2(-)_HR(+)'][i] = 1
    elif (data.HER2_positive.loc[i] == 0) and (data.HR.loc[i] == 0):
        data['HER2(-)_HR(-)'] = 1

<ipython-input-13-e6c05bbddbe2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['HER2(+)_HR(-)'][i] = 1

In [14]:
rA = data.groupby('HER2(+)_HR(+)').sum('Length')
rB = data.groupby('HER2(+)_HR(-)').sum('Length')
rC = data.groupby('HER2(-)_HR(+)').sum('Length')
rD = data.groupby('HER2(-)_HR(-)').sum('Length')

In [15]:
rA.to_excel('Question4CA.xlsx')
rB.to_excel('Question4CB.xlsx')
rC.to_excel('Question4CC.xlsx')
rD.to_excel('Question4CD.xlsx')