In [1]:
import pandas as pd

In [4]:
data = pd.read_excel(r'PatientData_Programming Assignment.xlsx',sheet_name = 'Sheet1')
data.head()

   Patient_ID  drug_390_admin_flag  ER_positive  PR_positive  HER2_positive
0        2038                    1            1            1              0
1        2120                    0            1            0              1
2        2175                    0            0            0              0
3        2407                    0            0            1              0
4        2425                    1            0            0              0

In [3]:
result = data.groupby('Patient_ID').sum('Length')

In [5]:
result.to_excel('Question4A.xlsx')